{
    "presets": [
        "es2015"
    ],
    "plugins": [
        ["module-alias", [
            {
                "src": "npm:backbone-relation",
                "expose": "crux-base-model"
            }
        ]]
    ]
}
